@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.profile {
    /* object-fit: contain; */
    width: 100%;
    border-radius: 70%;

}

body {
    background-color: #EDF2F7;
    padding: 20px;
}

.root {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

progress {
    height: 16px;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 50%;
    background-color: #d8d8d8;
}


progress::-webkit-progress-value {
    background-color: #446ee7;
    border-radius: 20px;
}

progress::-moz-progress-bar {
    background-color: #446ee7;
    border-radius: 20px;
}

.skills li span {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
}

.skills li {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills li {
    display: inline-block;
    width: 45%;

    margin: 10px;
    /* background-color: #f2f2f2; */
    padding: 10px;
    box-sizing: border-box;
}

.contact-links a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.contact-links a:hover {
    color: #446ee7;
}

.contact-links i {
    margin-right: 5px;
}